@charset "UTF-8";
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

input {
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    bottom:0;
}

button:hover {
    background: #0056b3;
}
h1{
	    color: black;
	text-align: center;
}
header {
    background: #007BFF;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
outline: 2px solid black; /* Added outline */
background-image: url("file:///C:/Users/web24cvalls/Downloads/headerPNG.png");
}
footer {
		background: #007BFF;
			color: white;
			padding: 10px 0;
			text-align: center;
			position: fixed;
			bottom: 0;
			width: 100%;
			z-index: 1000;
			outline: 2px solid black; /* Added outline */
}