@charset "UTF-8";
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.login-container {
    background:	#ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

input {
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #35b5e6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    bottom:0;
    margin: 10px;
}

button:hover {
    background:  #35b5e6;
}
h1{
	    color: black;
	text-align: center;
}
footer {
		background:  #01366a;
			color: white;
			padding: 10px 0;
			text-align: center;
			position: fixed;
			bottom: 0;
			width: 100%;
			z-index: 1000;
}

#botones{
	margin-left: 88%;
	margin-right: 2%;
}